PROJECT_NAME="High-Performance Async FastAPI"
API_V1_STR="/api/v1"

# Redis Configuration
REDIS_HOST="localhost"
REDIS_PORT=6379
REDIS_URL="redis://localhost:6379/0"
CACHE_DEFAULT_TTL=120

# Neon / PostgreSQL Database URL (Placeholder)
DATABASE_URL="postgresql://neondb_owner:YOUR_PASSWORD_HERE@ep-damp-cloud-b5p92uap-pooler.c-7.us-east-2.aws.neon.tech/neondb?sslmode=require"
